{% for tag in workspace.tags %}
{% if tag.mine %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#1e1e2e}%{B#FAB387}  {{tag.name}}  %{B-}%{F-}
%{A}
{% elsif tag.urgent %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{B#f9e2af}%{F#1e1e2e}  {{tag.name}}  %{F-}%{B-}
%{A}
{% elsif tag.visible  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#000000}%{B#FFFFFF}  {{tag.name}}  %{B-}%{F-}
%{A}
{% elsif tag.busy %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#cba6f7}  {{tag.name}}  %{F-}
%{A}
{% else %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#1e1e2e}  {{tag.name}}  %{F-}
%{A}
{% endif %}
{% endfor %}
